$mh-vars: (
  // 间距
  J1: 8px,
  J2: 16px,
  J3: 24px,
  J4: 32px,
  // 字体
  H: 28px,
  H1: 22px,
  H2: 18px,
  H3: 16px,
  Aa: 14px,
  Ab: 12px,
  // 图标
  I1: 24px,
  I2: 32px,
  I3: 40px,
  I4: 64px,
  I5: 96px,
  // 阴影
  // 强投影
  S1: (0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04)),
  // 浅色投影
  S2: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
);

