// 全局SCSS变量

:root {
  --menuBg: var(--BG1);
  --menuText: var(--T2);
  --menuActiveText: var(--ZS);
  --menuHover: var(--B2);
  --subMenuBg: var(--BG1);
  --subMenuActiveText: var(--T2);
  --subMenuHover: var(--B2);
  --el-color-primary:var(--ZS)  !important;
  --el-color-primary-light-3: var(--botton-hover-color)  !important;
    --el-color-primary-light-5: #b3e19d  !important;
    --el-color-primary-light-7: #d1edc4  !important;
    --el-color-primary-light-8: #e1f3d8  !important;
    --el-color-primary-light-9: #f0f9eb  !important;
    --el-color-primary-dark-2: var(--ZS)  !important;
  // wang-editor textarea
  --w-e-textarea-slight-border-color: var(--el-color-primary)  ;
  --w-e-textarea-slight-bg-color: rgb(var(--el-color-primary-rgb) 0.1);
  --w-e-textarea-selected-border-color: var(--el-color-primary);

  --el-menu-hover-bg-color: var(--B2) !important;
}

$menuBg: var(--menuBg);
$menuText: var(--menuText);
$menuActiveText: var(--menuActiveText);
$menuHover: var(--menuHover);

$subMenuBg: var(--subMenuBg);
$subMenuActiveText: var(--subMenuActiveText);
$subMenuHover: var(--subMenuHover);

$sideBarWidth: 210px;
